<div ng-include="'partials/navbar.html'"></div>
a class="btn-floating btn-large waves-effect waves-light tooltip" id="back-button" title="go back" href="#/listings"><i class="fa fa-angle-left"></i></a>
<div class="section"></div>
<div class="container">
    <div class="col s12 m6" id="card-data">
        <div class="card darken-1">
            <div class="card-content">
                <div class="card-title">How can MagPie help you today?</div>
                <p>Edit your item.</p>
                <div class="row" id="event-form">
                    <form name = "new_item" enctype="multipart/form-data" ng-controller="PostItemController as vm" ng-submit = "editItem(new_item.$valid)">

                        <div class="section"></div>

                        <div class="col s12 m6" style="margin-top: 20px;">

                            <!-- name -->
                            <div class="input-field">
                                <input type="text" name="item_name" ng-model = "obj.item_name" id="name" ng-value="item.title"
                                placeholder="What's the name of the item?" required>
                                <p ng-show="new_item.item_name.$error.required && !new_item.item_name.$pristine" >Name is required.</p>
                            </div>
                            <!-- When did you find/lose it -->
                            <div class="input-field" id="date">
                                <p class="date-label">When did you find/lose it?</p>
                                <input disabled type="text" class="datepicker">
                            </div>

                            <!-- Where -->
                            <div class="input-field">
                                <input id="location" places-auto-complete size=80 ng-model="vm.address" component-restrictions="{country:'us'}" on-place-changed="vm.placeChanged()" />
                                <label class="active" for="location">Where did you find/lose it?</label>
                            </div>
                        </div>

                        <div class="col s12 m5 offset-s1">
                            <!-- Map -->
                            <ng-map class="z-depth-1" scrollwheel="false" center = "{{item.locationLat}}, {{item.locationLon}}"
                                    style="border: 5px"></ng-map>
                        </div>


                        <div class="input-field col s12 m6" style="margin-top: 40px;">
                            <!-- Description -->
                            <input type="text" id="msg" ng-model="obj.item_description" ng-value = "item.description"
                            placeholder="Any messages to describe your item better?">
                        </div>

                        <!-- image -->
                        <div class="input-field col s12 m6" style="margin-top: 40px;">
                            <input type="text" id="img" ng-model="obj.item_img" ng-value = "item.img" class="validate"
                            placeholder="Leave a nice image url">
                        </div>
                        <div class="center">
                            <input type="submit" value="Edit" ng-disabled="new_item.$invalid" class="post-button">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<style type="text/css">
    body {
        font-family: 'Lato';
        font-weight: 300;
        background: rgb(241, 241, 241);
    }
</style>

<script type="text/javascript">
    $(document).ready(function() {
        $('.tooltip').tooltipster();
    });
</script>