<div ng-include="'partials/navbar.html'"></div>

<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>

<div class="container">
	<div class="card" style="overflow: hidden;">

		<div class="row flex-s" style='margin: 0;'>
			<div class="col s12 m6 box-a" style="padding: 0;  background-color: #E4E4DF;  z-index: 999; position: relative; height: 850px;">
				<!-- MAP -->
				<div ng-if="pauseLoading" style="padding-top: 70%;">
					<div class="center">
						<div class=" preloader-wrapper big active">
							<div class="spinner-layer spinner-blue">
								<div class="circle-clipper left">
									<div class="circle"></div>
								</div>
								<div class="gap-patch">
									<div class="circle"></div>
								</div>
								<div class="circle-clipper right">
									<div class="circle"></div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div ng-if="!pauseLoading">
					<div map-lazy-load="https://maps.google.com/maps/api/js"
						 map-lazy-load-params="https://maps.google.com/maps/api/js">

						<ng-map center="{{item.locationLat}},{{item.locationLon}}"
								zoom="14"
								class="z-depth-1"
								scrollwheel="false" style="height: 850px;">

							<marker position="{{item.locationLat}},{{item.locationLon}}"></marker>
						</ng-map>
					</div>
				</div>
			</div>

			<!-- DETAILS -->
			<div class="col s12 m6 box-b" style="padding:0;">

				<div class="row">
					<!-- OWNER -->
					<div class="col s12" id="profile-bg">
						<div class="center">
							<a href="#/profile/{{item.author.id}}">
								<img ng-src={{item.author.img}} class="circle responsive-img">
								<p>{{item.author.username}}</p>
							</a>
						</div>
					</div>

					<!-- EDIT AND DELETE -->
					<div class="col s12 delete_edit z-depth-1">
						<div class="row">
							<!-- EDIT -->
							<div class="col s6 center">
								<a href="#/edit/{{id}}" class="tooltip" title="edit item"><i class="fa fa-pencil-square-o"></i></a>
							</div>
							<!-- DELETE -->
							<div class="col s6 center">
    							<a ng-click="deleteItem()" class="tooltip" title="delete item"><i class="fa fa-trash"></i></a>
							</div>
						</div>
					</div>

					<!-- DETAILS -->
					<div class="col s12 item_info">
						<div class="center">
							<p class="title"><em>{{item.title}}</em></p>
							<span><strong>about: </strong></span>
							<span id="desc">{{item.description}}</span>
							<p>This <em>{{item.type | lowercase}}</em> item by the numbers: </p>
							<table class="striped">
								<tbody>
									<tr>
										<td class="center" style="padding: 0">Where? <span class="chip" style="vertical-align: middle;">{{item.type}} near, {{address}}</span></td>
									</tr>
									<tr>
										<td class="center" style="padding: 0">When? <span class="chip" style="vertical-align: middle;">{{item.type}} on, {{item.date | date:'EEEE, MMMM d'}} {{item.date | date:'shortTime'}}</span></td>
									</tr>
									<tr>
										<td class="center" style="padding: 0">Posted on? <span class="chip" style="vertical-align: middle;">{{item.postDate | date:'EEEE, MMMM d'}} {{item.postDate | date:'shortTime'}}</span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section"></div>
<div class="section"></div>

<!--====================Commenting Section==================-->

<!--Posting comment-->
<div class="container">
	<div class="card z-depth-1">
		<div id="commentTitle">Comments: </div>
		<div class="container">
			<form name = "new_comment" ng-submit = "postComment(new_comment.$valid)">
			    <div class="input-field col s12 m6" style="margin-top: 35px;">
			        <!-- Description -->
					<input ng-model = "message" placeholder="add a comment.."></input>
			    </div>

			    <input type="submit" value="Post" ng-disabled="new_comment.$invalid" class="post-button" style="margin: 0;">
			    <div class="section"></div>
			</form>

			<div ng-repeat="comment in comments">
				<div class="ui comments">
					<div class="comment">
					    <a class="avatar">
					      <img ng-src={{comment.author.img}} style="border-radius: 100%;">
					    </a>
					    <div class="content">
					      <a class="author" href="#/profile/{{comment.author.id}}">{{comment.author.username}}</a>
					      <div class="metadata" style='font-size: 1rem;'>
					        <span class="date">{{comment.postDate | date:'EEEE, MMMM d'}} {{comment.postDate | date:'shortTime'}}</span>
					      </div>
					      <div class="text">
					        {{comment.message}}
					      </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
		<div class="section"></div>
	</div>
</div>


<div ng-include="'partials/footer.html'"></div>

<style type="text/css">
  body {
  	font-family: 'Lato';
  	font-weight: 300;
    background: #f5f5f5;
  }
  @media (max-width: 768px) {
	.flex-s {
		display: flex;
		flex-direction: column; /* Stack on top */
	}
	.box-a {
		order: 2; /* Go down, bring Box B up */
	}
  }
</style>