<div ng-include="'partials/navbar.html'"></div>

<div class="section"></div>
<div class="section"></div>

<h1>Details</h1>
<p>{{item.type}}</p>
<p>{{item.title}}</p>
<p>{{item.description}}</p>
<p>{{item.postDate}}</p>
<a ng-click="deleteItem()">Delete</a>
<ng-map center="{{item.locationLat}},{{item.locationLon}}"
        zoom="14"
        class="z-depth-1"
        scrollwheel="false">

    <marker position="{{item.locationLat}},{{item.locationLon}}"></marker>
</ng-map>

<a href="#/edit/{{id}}">Edit</a>

