<div ng-include="'partials/navbar.html'"></div>

<div class="section"></div>
<div class="section"></div>

<h1>Details</h1>

<hr>
<h2>Belongs to {{user.username}}</h2>
<a href="#/profile/{{user._id}}">Go to profile</a>

<hr>
<p>{{item.type}}</p>
<p>{{item.title}}</p>
<p>{{item.description}}</p>
<p>{{item.postDate}}</p>
<ng-map center="{{item.locationLat}},{{item.locationLon}}"
        zoom="14"
        class="z-depth-1"
        scrollwheel="false">

    <marker position="{{item.locationLat}},{{item.locationLon}}"></marker>
</ng-map>

<div class="delete_edit">
    <a href="#/edit/{{id}}">Edit</a>
    <hr>
    <a ng-click="deleteItem()">Delete</a>
</div>

<div ng-include="'partials/footer.html'"></div>

