<div ng-controller="navBarController" class="navbar z-depth-1"> 
	<div class="cust-container">
		<a href="#/listings"><span class="title">Mag<span class="suffix">pie</span></span></a>
		<span><a id="search" class="custom-button custom-button-border" href="#/search"><i class="icon-search"></i> Search for an item...</a></span>
		<ul class="buttons">
		    <li class="loginBt">
		    	<a class="custom-button custom-button-border" href="#/auth" style="margin: 0; padding: 8px; font-weight: 400;">
		    		<i class="icon-person"></i> {{buttonText}}
		    	</a>
		    </li>
		    <li>
  					<div class="ui comments feedback">
					  <div class="comment">
					    <a class="avatar">
					      <img src="{{profileImg}}" data-pin-nopin="true" style="border-radius: 100%;">
					    </a>
					    <div class="content">
					      <a href="#/profile/{{profileId}}" class="author">{{profileName}}</a>
					      <div class="text" style="text-align: left;">
        					<a ng-click="logout()">Logout</a>
      					  </div>
					    </div>
					  </div>
					</div>
		    </li>
		</ul>
		<div class="clearfix"></div>
	</div>
</div>