<div ng-include="'partials/navbar.html'"></div>
<a class="btn-floating btn-large waves-effect waves-light tooltip" id="back-button" title="go back" href="#/listings"><i class="fa fa-angle-left"></i></a>
<div class="section"></div>
<div class="container">
    <div class="col s12 m6" id="card-data">
        <div class="card darken-1">
            <div class="card-content">
                <div class="card-title">How can MagPie help you today?</div>
                <p>Post a lost or found item.</p>
                <div class="row" id="event-form">
                    <form novalidate name = "new_item" enctype="multipart/form-data" ng-controller="PostItemController as vm" ng-submit = "postItem()">

                        <!-- Lost/Found type -->
                        <div class="center">
                            <input type = "radio" name = "lost_found" value = "Lost" ng-model = "lost_found" id="Lost"/>
                            <label for="Lost">Lost</label>
                            <input type = "radio" name = "lost_found" value = "Found" ng-model = "lost_found" id="Found"/>
                            <label for="Found">Found</label>
                        </div>

                        <div class="section"></div>

                        <div class="col s12 m12 l6" style="margin-top: 20px;">

                            <!-- name -->
                            <div class="input-field">
                                <input type="text" name="item_name" ng-model = "item_name" id="name" required>
                                <label for="name">What's the name of the item?</label>
                                <!--<p id = "name-error" ng-show="new_item.item_name.$error.required && (new_item.item_name.$dirty || submitted)" >Name is required.</p>-->
                            </div>
                            <!-- When did you find/lose it -->
                            <div class="input-field" id="date">
                                <input type="text" id="date" class="datepicker">
                                <label for="date">When did you find/lose it?</label>
                            </div>

                            <!-- Where -->
                            <div class="input-field">
                                <input id="location" places-auto-complete size=80 ng-model="vm.address" component-restrictions="{country:'us'}" on-place-changed="vm.placeChanged()" />
                                <label class="active" for="location">Where did you find/lose it?</label>
                            </div>
                        </div>

                        <div class="col s12 m12 l5 offset-l1">
                            <!-- Map -->
                            <ng-map class="z-depth-1" scrollwheel="false" center = "40.109235624956426,-88.22725569101561"
                            style="border: 5px">
                                <marker position="{{lat}},{{lon}}"></marker>
                            </ng-map>
                        </div>

                        <div class="input-field col s12 m12 l6" style="margin-top: 35px;">
                            <!-- Description -->
                            <input type="text" id="msg" ng-model="item_descp">
                            <label for="msg">Any messages to describe your item better?</label>
                        </div>

                        <!-- image upload -->
                        <div class="input-field col s12 m12 l6" style="margin-top: 20px;">
                            <div class="file-field input-field">
                              <div class="btn" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" 
                                ngf-accept="'image/*'" ngf-resize="{width: 800, height: 800}">
                                <span><i class="fa fa-cloud-upload" style="font-size: 2rem;"></i></span>
                                <input type="file" multiple>
                              </div>
                              <div class="file-path-wrapper">
                                <input value="{{imgTitle}}" class="file-path validate" type="text" placeholder="Upload a nice picture describing your item...">
                              </div>
                            </div>
                        </div>
                        <div class="center">
                            <input id = "submit-btn" type="submit" value="Post" class="post-button">
                        </div>
                    </form>
                    <div class="section"></div>
                    <div class="row error">
                        <div class="col l4 m2 s2"></div>
                        <div class="col l4 m10 s10">
                            <div class="card-panel red darken-1" style="padding: 20px;">
                              <span class="white-text center">
                                <p style="font-size: 1rem;"><i class="fa fa-times-circle-o"></i> {{displayText}}</p>
                              </span>
                            </div>
                        </div>
                        <div class="col l4 m2 s2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
  body {
    font-family: 'Lato';
    font-weight: 300;
    background: #f5f5f5;
  }
</style>

<script type="text/javascript">
     $(document).ready(function() {
        $('.tooltip').tooltipster();

    });
</script>
