<div ng-include="'partials/navbar.html'"></div>

<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>

<div class="user-profile">
    <div class="container">
        <div class="card darken-1">
            <div class="row">
                <!-- AVATAR -->
                <div class="col s12 img-container">
                    <figure class="avatar"><img ng-src="{{user.img}}" class="circle responsive-img activator"></figure>
                </div>

                <!-- BIO -->
                <div class="col s12 bio">
                    <div class="row">
                        <div class="col s3"></div>
                        <div class="col s6">
                            <span class="name">{{user.username}}</span> 
                            <!-- CHAT BUBBLE -->
                            <a id="chat-bubble" ng-click="openChat()" class="btn-floating btn-large waves-effect waves-light red" style="margin-bottom: 20px;"><i class="material-icons fa fa-comments"></i></a>
                        </div>
                        <div class="col s3"></div>
                    </div>
                    <div class="row">
                        <div class="col s4"></div>
                        <div class="col s4"><blockquote>{{user.about}}</blockquote></div>
                        <div class="col s4"></div>
                    </div>
                </div>

                <!-- TABS -->
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a href="#test1" ng-click="changeTab('Lost')" style="color: #4597ba">Lost item</a></li>
                        <li class="tab col s3"><a class="active" ng-click="changeTab('Found')" href="#test2" style="color: #4597ba">Found items</a></li>
                        <li class="tab col s3"><a href="#test4" ng-click="changeTab('Comment')" style="color: #4597ba">Comments</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- LOST AND FOUND ITEMS BRICKS -->
<div class="container event-grid" style="transition: all 0.3s;">
  <div masonry style="text-align: center; max-width: 740px;margin: 0 auto;">
    <div class="masonry-brick" ng-repeat="lost in items | filter:filter" style="margin: 0 auto;">
      <div class="grid-item" style="margin: 10px">
        <div class="card" style="max-width: 350px;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{lost.img}}" style="max-height: 300px;">
          </div>
          <div class="card-content">
            <span class="card-title">{{lost.title}}</span><br>
          </div>
          <div class="card-reveal">
              <span class="card-title grey-text text-darken-4" style="font-weight: 300; font-size: 1.8rem; text-transform: uppercase;">{{lost.title}}<i class="material-icons right">close</i></span>
              <p class="card-action">{{lost.description}}</p>
              <div class="card-title activator red-text text-darken-3">Posted on {{lost.postDate | date:'EEEE, MMMM d'}}, {{lost.postDate | date:'shortTime'}}</div>
              <div class="section"></div>
              <a class="waves-effect waves-light btn-large" href="#/details/{{lost._id}}">Find more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- COMMENTS -->
<div class="container cust-comments" id="test4">
    <div class="card z-depth-1">
        <div class="container">
            <div class="section"></div>
            <div ng-repeat="comment in comments">
                <div class="ui comments">
                    <div class="comment">
                        <a class="avatar">
                          <img ng-src={{comment.author.img}} style="border-radius: 100%;">
                        </a>
                        <div class="content">
                          <a class="author" href="#/profile/{{comment.author.id}}">{{comment.author.username}}</a>
                          <div class="metadata" style='font-size: 1rem;'>
                            <span class="date">{{comment.postDate | date:'EEEE, MMMM d'}} {{comment.postDate | date:'shortTime'}}</span>
                          </div>
                          <div class="text">
                            {{comment.message}}
                          </div>
                          <div class="actions">
                            Posted on: <a href="#/details/{{comment.item.id}}">{{comment.item.title}}</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section"></div>
    </div>
</div>

<div class="section"></div>
  <!-- chat window -->
  <div class="chat-box">
    <div class="chat-head">
        <span class="username">{{user.username}}</span>
        <div class="close">x</div>
    </div>
    <div class="chat-body-wrap">
        <div class="chat-body">
            <div class="add-msg"></div>
        </div>
        <div class="chat-footer">
            <textarea class="msg-input" placeholder="Type a message..."></textarea>
        </div>
    </div>
  </div>

<div ng-include="'partials/footer.html'"></div>

<style type="text/css">
  body {
    font-family: 'Lato';
    font-weight: 300;
    background: #f5f5f5;
  }
</style>

<script type="text/javascript">
    $(document).ready(function(){
        $('ul.tabs').tabs();
    });
</script>