<div ng-include="'partials/navbar.html'"></div>

<div class="section"></div>
<div class="section"></div>

<h1>{{user.username}}</h1>
<h4>{{user.about}}</h4>

<img src="{{user.img}}" data-pin-nopin="true" style="border-radius: 100%;">

<div ng-repeat="item in items">
    <hr>
    <p>Type: {{item.type}}</p>
    <p>Title: {{item.title}}</p>
    <p>Desc: {{item.description}}</p>
    <a href="#/details/{{item._id}}">Details</a>
</div>

<hr>
<h2>Comments</h2>
<div ng-repeat="comment in comments">
    <hr>
    <p>Commented: {{comment.message}}</p>
    <p>On: <a href="#/details/{{comment.item.id}}">{{comment.item.title}}</a></p>
</div>

<div ng-include="'partials/footer.html'"></div>

<style type="text/css">
  body {
    font-family: 'Lato';
    font-weight: 300;
    background: #f5f5f5;
  }
</style>