<div ng-include="'partials/navbar.html'"></div>

<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>

<div class="user-profile">
    <div class="container">
        <div class="card darken-1">
            <div class="row">
                <!-- AVATAR -->
                <div class="col s12 img-container">
                    <figure class="avatar"><img ng-src="{{user.img}}" class="circle responsive-img activator"></figure>
                </div>

                <!-- BIO -->
                <div class="col s12 bio">
                    <p class="name">{{user.username}}</p>
                    <div class="row">
                        <div class="col s4"></div>
                        <div class="col s4"><blockquote>{{user.about}}</blockquote></div>
                        <div class="col s4"></div>
                    </div>
                </div>

                <!-- TABS -->
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a href="#test1" ng-click="changeTab('Lost')" style="color: #4597ba">Lost item</a></li>
                        <li class="tab col s3"><a class="active" ng-click="changeTab('Found')" href="#test2" style="color: #4597ba">Found items</a></li>
                        <li class="tab col s3"><a href="#test4" style="color: #4597ba">Comments</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div ng-repeat="item in items | filter:filter">
    <hr>
    <p>Type: {{item.type}}</p>
    <p>Title: {{item.title}}</p>
    <p>Desc: {{item.description}}</p>
    <a href="#/details/{{item._id}}">Details</a>
</div>

<hr>
<h2>Comments</h2>
<div ng-repeat="comment in comments">
    <hr>
    <p>Commented: {{comment.message}}</p>
    <p>On: <a href="#/details/{{comment.item.id}}">{{comment.item.title}}</a></p>
</div>

<div ng-include="'partials/footer.html'"></div>

<style type="text/css">
  body {
    font-family: 'Lato';
    font-weight: 300;
    background: #f5f5f5;
  }
</style>

<script type="text/javascript">
    $(document).ready(function(){
        $('ul.tabs').tabs();
    });
</script>