.user-profile{
	.img-container{
  		position: absolute;
    	top: -120px;
		.avatar{
    		border-radius: 90%;
			width: 20%;
    		margin: auto;
    		img {
    			border: 6px solid $base-color;
    		}
		}
	}
	.bio {
		text-align: center;
		margin-top: 130px;
		.name {
			font-size: 4rem;
			font-weight: 700;
			font-family: 'Lato';
			color: #4597ba;
		}
	}
}